<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="/me.jpeg" alt="portrait">
        <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, magni.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus blanditiis iste, ab, consequatur accusamus expedita ut, quisquam architecto itaque incidunt in eos mollitia dolores sit! Eligendi repellat culpa tempore sed veniam necessitatibus esse, deleniti totam! Itaque culpa eum, modi ducimus unde tempore fugit officia quod reprehenderit nemo, ut ipsam aliquid tempora id libero maiores obcaecati aspernatur iusto hic quaerat placeat dolores recusandae eaque. Fugit, inventore ad accusantium sed aspernatur ea dolores a obcaecati itaque veniam maiores excepturi natus molestias reiciendis praesentium minus architecto eum rerum officiis deleniti dolor culpa esse? Natus maxime omnis facilis culpa nesciunt corrupti quaerat alias at corporis odit voluptas error dolores aspernatur dignissimos totam, delectus reprehenderit cum architecto ab fugit magnam animi? Consequuntur sequi rem veritatis possimus suscipit, dicta ab est beatae necessitatibus laboriosam a cupiditate natus distinctio corrupti accusantium in adipisci atque! Distinctio dolore obcaecati aut culpa quo vitae, velit rerum inventore. Atque illum sed accusantium asperiores itaque odit adipisci debitis possimus omnis soluta dolor vitae ipsa est ex cumque animi repudiandae necessitatibus, neque tempore nulla! Nobis dolores molestias aspernatur porro. Doloremque ipsa tenetur quam laudantium, quos dolore porro? Illum earum, quam corrupti odit unde vitae optio ullam minus alias esse, beatae provident. Repellendus!</p>
        {{>footer}}
    </div>
</body>
</html>