<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h2>{{helpText}}</h2>
        <ul class="help-list">
            <li>LinkedIn - https://www.linkedin.com/in/nabendu-biswas/</li>
            <li>YouTube - https://www.linkedin.com/in/nabendu-biswas/</li>
            <li>Facebook - https://www.linkedin.com/in/nabendu-biswas/</li>
            <li>Instagram - https://www.linkedin.com/in/nabendu-biswas/</li>
            <li>Twitter - https://www.linkedin.com/in/nabendu-biswas/</li>
            <li>Website - https://www.linkedin.com/in/nabendu-biswas/</li>
        </ul>
        {{>footer}}
    </div>
</body>
</html>